<head>
	<link rel="stylesheet" type="text/css" href="home.css.scss">
</head>

<div>

<div class="top_part" id="slogan" style="margin-top": 20px;>
	<p>University of Waterloo's official creative arts magazine</p>
	<img src="http://fc07.deviantart.net/fs71/f/2014/018/e/5/flying_quetzal_by_brookreed-d72r2z7.png"
		align="left" width="300" height="300"></img>
</div>

<div class="top_part" id="recent_scrolling">
	<h1>Most Recent</h1>
	<p>Should have auto-changing content (slideshow-style) here with 4-6 recent submissions, changing at 5-second intervals.</p>
</div>

<div class="bottom_part" id="recent">
	<h1>Recent</h1>

	<ul>

	<li>
	<h2 align="left">Story</h2>
	<p>Should have 3 (or more) submissions down here. If they're writings, cut them off at a point and have a clickable "read more". The title should be aligned to the left...</p>
	</li>

	<li>
	<h3>Poem</h3>
	<p>Let us go then, you and I,<br>	
When the evening is spread out against the sky<br>	
Like a patient etherized upon a table;<br>	
Let us go, through certain half-deserted streets,<br>	
The muttering retreats<br>
Of restless nights in one-night cheap hotels<br>	
And sawdust restaurants with oyster-shells:<br>	
Streets that follow like a tedious argument<br>	
Of insidious intent<br>	
To lead you to an overwhelming question….<br>	        
Oh, do not ask, “What is it?”<br>	
Let us go and make our visit.</p>
<p align=right>Read more</p>
	</li>

	<li>
	<h4>Photography</h4>
	<img src="http://giorgiobounias.com/wp-content/uploads/2014/12/herbert-list-1368280390_org.jpg"
		width="400" height="500"></img>
	</li>
	
	</ul>
</div>

<div class="bottom_part" id="sidebar">
	<h1>Categories</h1>
	
	<ul>
	<li>Stories</li>
	<li>Poetry</li>
	<li>Art</li>
	<li>Music</li>
	<li>Misc.</li>
	</ul>	
	
	<h2>Tags</h2>
	
	<p>Funny, sad, heartwarming, exciting</p>
</div>

</div>

