<% provide(:title, 'Stories') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Quetzal</title>
  </head>
  <body>
    <h1>Short Stories</h1>
    <p>
      <a href="https://americanliterature.com/author/o-henry/short-story/the-cactus"><em>The Cactus</em> by O. henry</a>.
    </p>
  </body>
</html>

