.top_part {float:top; margin-top:25px;}

#slogan {
    height:300px;
    width:30%;
    float:left;
    padding:5px;
	background-color:#6699FF; 
}

#recent_scrolling {
	width:70%;
	height:300px;
    float:right;
    padding:10px; 
	background-color:red;
}

.bottom_part {float:bottom;}

#recent {
	width:80%;
	float:left;
	padding:10px;
	background-color:yellow;
}

#sidebar {
	width:20%;
	float:right;
	padding:5px;
	background-color:green;
}

